S/W Requirements:
git
Git HUb
JDK
Eclipse--editor 
Spring Tool Suit
MySQL
-------------
VS code 
Node Js
---------------------------------
GIT
----------------------
Version Control System :
v1
v2

v10
-----------------
track
GitHub:
--------------------
cloud storage store applications  or code --track of git 
make public or online 
configure git into GitHub
-----------------------------------------
